.container {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  position: relative;
}

.leftside {
  padding: 20px;
  width: 40%;
  height: 100%;
  box-sizing: border-box;
  background-color: yellowgreen;
  position: relative;
}

.rightside {
  padding: 20px;
  box-sizing: border-box;
  width: 60%;
  height: 100%;
  background-color: green;
  position: relative;
}

.droppableAreas {
  margin-left: 50px;
  width: calc(100% - 50px);
  height: 100%;
  z-index: 100;
}

.timetableStyle {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  padding: 0px;
  padding: 20px;
  z-index: 1;
}

.singletimetablestyle {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.horizontalline {
  display: block;
  height: 1px;
  box-sizing: border-box;
  background-color: black;
  width: 100%;
  margin-left: 5px;
}
.singletimetabletext {
  padding: 0px;
  margin: 0px;
  width: 50px;
  text-align: center;
  margin-top: -12px;
}

.top {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
}

.outsidecontainer {
  height: 100%;
}

.title {
  font-size: 30px;
  margin: 0px;
  padding: 0px;
  font-weight: bold;
}

.description {
  margin: 0px;
}

.activitygrid {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: flex-start;
  height: 100%;
  z-index: 100;
}
.activityinner {
  padding: 10px;
  box-sizing: border-box;
}
.activityouter {
  width: 32%;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.activityouterdragged {
  border-radius: 5px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.activityouterdraggedmall {
  display: flex;
  justify-content: center;
  align-items: center;
}

.activitytitlesmall {
  margin: 0px !important;
  padding: 0px !important;
}

.activityImage {
  position: relative;
  height: 120px;
}

.activityImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.activitytitle {
  font-size: 18px;
  margin: 0px;
  padding: 0px;
  margin-top: 10px;
  font-weight: bold;
}

.activityprice {
  margin: 0px;
  padding: 0px;
}

.locationAndPeople {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.locationcontainer {
  border: 1px solid black;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  position: absolute;
  right: -20px;
  top: -20px;
  background-color: white;
  border-radius: 10px;
  font-size: 14px;
}

.people {
  vertical-align: middle;
  color: black;
}
